<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div id="menu" class="menu-container">Menu Conatiner</div>
    <div id="menu-options" class="menu-options">Menu Options</div>
    <div id="formula-container" class="formula-container">
        <input type="text" id="address-input" class="address-input">
        <input type="text" id="formula-input" class="formula-input">
      
    </div>
    <div id="cell-container" class="cell-container">
        <div id="t1-cell" class="t1-cell"></div>
        <div id="top-row" class="top-row">

            <%for(let i=0;i<cols;i++){%>
                <div class="cell">
                    <%=String.fromCharCode(i+65)%>
                    
                </div>
                
            <%}%>
        </div>
        <div id="left-col" class="left-col">
            <%for(let j=0;j<rows;j++){%>

              <div class="cell">
                  <%=j+1%>
              </div>
                <%}%>
        </div>

        <div class="grid">
        <%for(let i=0;i<rows;i++){%>
          <div class="row">
            <%for(let j=0;j<cols;j++){%>
                <div class="cell">Cell
                </div>
            <%}%>
          </div>
        <%}%>
    </div>
  
</div>


    <div id="sheets" class="sheets"> Sheets</div>
    
</body>
</html>