body,html{
    margin:0px;
    padding:0px;
    }
    *{
        box-sizing:border-box;
    }

    .style-row button.active{
    background-color: grey;
    }
    
    .formula-container{
        height: 31px;
        border: 1px solid green;
    }
    .cell-container{
        height: calc(100vh - 130px);
        background-color: ghostwhite;
        overflow: auto;
        position: relative;
    }
    .sheets{
        height: 25px;
        border: 1px solid;
    }
    .row .cell,.top-row .cell{
        border: 1px solid;
        min-width: 80px;
        /* width: 80px; */
        text-align: center;
        /* height: 25px; */
        min-height: 25px;
        max-width: 80px;
        -webkit-text-stroke-width: medium;
}
    
    .row{
        display:flex;
    }
    .t1-cell{
        position: relative;
        width: 32px;
        height: 25px;
        z-index: 3;
        background-color: black;
        top: 0px;
        left: 0px;
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        background-blend-mode: multiply,multiply;
    }
    .top-row{
        display: flex;
        position: absolute;
        left: 25px;
        top: 0px;
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        z-index: 1;
    }
    .left-col .cell{
        border: 1px solid;
        width: 31px;
        height: 25px;
        /* background-color: green; */
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        text-align: center;
        -webkit-text-stroke-width: medium;
    }
    .grid{
        position: absolute;
        top:25px;
        left: 25px;
    }
    .menu{
        margin-right: 16px;
        -webkit-text-stroke-width: medium;
        margin-left: 12px;
        color: cornsilk;
    }
    .left-col{
        position: absolute;
        z-index: 1;
       
    }
    .menu-container{
        border: 2px solid black;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 29px;
        background-color: green;
        
    }

    .menu-options{
        display: none;
        width: 100px;
        justify-content: space-evenly;
        width: 282px;
        align-items: center;
        height: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .menu-option-container{
        height: 130px;
        background-color: darkgray;
    }
    .menu-options.active{
    
        height: 100%;
        display: flex;
        width: 100%;
    }
    .style-row button{
        background-color: red;
    }
    .address-input{
        width: 70px;
        margin: -4px;
        /* margin-right: 27px; */
        margin-left: 1px;
        border-color: brown;
        -webkit-text-stroke-width: medium;
        height: 27px;
    }
    .formula-input{
        margin-left: 16px;
        border-color: inherit;
        /* height: -webkit-fill-available; */
        margin-bottom: -79px;
        width: 727px;
        height: 27px;
    
    }
    #formatting-col.Home{
        margin-top: 26px;
        margin-left: -8rem;
        border-right: 3px solid black;
        height: 121%;
        padding-right: 2rem;
    }
   

    
    #formatting-col.Home .colors{
        margin-left: 197px;
        width: 45%;
    }
    .style-row #underline{
        font-size: 21px;
        margin-top: -45px;
        margin-left:38px;
        text-transform: uppercase;
        -webkit-text-stroke-width: thick;

    }
    .style-row #bold{
        font-size: 21px;
        margin-top: inherit;
        text-transform: uppercase;
        -webkit-text-stroke-width: thick;
    }
    .style-row #italic{
        font-size: 21px;
        margin-top: inherit;
        text-transform: uppercase;
        -webkit-text-stroke-width: thick;
        margin-left: 71px;
        margin-top: -47px;

    }
    
     #b-color{
         height: 28px;
         margin-right: 7px;
        background: crimson;
    }
    #font-family{
        margin-top: 14px;
    }
    #font-color{
        margin-top: 11px;
        height: 28px;
        background: chartreuse;
    }
   
    #paint{
        width: 33px;
        margin-left: 65px;
        margin-bottom: -39px;
        margin-top: -12px;
    }
    #alli-1{
        width: 35px;
        margin-left: -63px;
        margin-top: -52px;
    }
    #alli-2{
        width: 35px;
        margin-top: 136px;


    }
    #alli-3{
        width: 35px;
    margin-bottom: -172px;
    margin-top: -122px;
    margin-left: 62px;
    }
    #ar{
        font-size: 18px;
    width: 82px;
    margin-top: 99px;
    margin-left: -22px;
    }
    #paste{
        height: 45px;
        margin-left: -10px;
    
    
    }
    #cut{
        height: 35px;
        padding-left: 29px;

    }
    #copy{
       
        height: 35px;
        padding-left: 22px;
        
    }
    

#clip{
    margin-left: -34px;
    font-size: 18px;
    margin-top: auto;
}
.secondpart{
    height: 100%;
    margin-left: -14rem;
    border-right: 3px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
}
.style-row{
    margin-top: 13px;
}
.style-color{
    width: 109px;
}
#a{
    font-size: 22px;
   
    margin-bottom: 0rem;
    margin-left: 15px;
    margin-top: 6px;
}
.thirdpart{
    height: 100%;
    margin-left: -13rem;
    border-right: 3px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 150px;
}
#clipboard{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-left: -15rem;
    border-right: 3px solid black;
}
