body,html{
    margin:0px;
    padding:0px;
    }
    *{
        box-sizing:border-box;
    }

    .style-row button.active{
    background-color: grey;
    }
    
    .formula-container{
        height: 30px;
        border: 1px solid green;
    }
    .cell-container{
        height: calc(100vh - 130px);
        background-color: lightgreen;
        overflow: auto;
        position: relative;
    }
    .sheets{
        height: 25px;
        border: 1px solid;
    }
    .row .cell,.top-row .cell{
        border: 1px solid;
        min-width: 80px;
        /* width: 80px; */
        text-align: center;
        /* height: 25px; */
         min-height: 25px; 
         max-width:80px;  
    }
    .row{
        display:flex;
    }
    .tl-cell{
        position: relative;
        width: 25px;
        height: 25px;
        z-index: 3;
        background-color: black;
        top: 0px;
        left: 0px;
    }
    .top-row{
        display: flex;
        position: absolute;
        left: 25px;
        /* top: 0px; */
        background-color: #bda24c;
        z-index: 1;
    }
    .left-col .cell{
        border: 1px solid;
        width:25px;
    height:25px;
    background-color: green;
    text-align: center;
    }
    .grid{
        position: absolute;
        top:25px;
        left: 25px;
    }
    .menu{
        margin-right: 16px;
    }
    .left-col{
        position: absolute;
       
    }
    .menu-container{
        border: 2px solid black;
        display: flex;
        justify-content: space-evenly;
        width: 200px;
    }
    .menu-options{
        display: flex;
        width: 100px;
        justify-content: space-evenly;
        width: 282px;
        align-items: center;
    }