body,html{
    margin:0px;
    padding:0px;
    }
    *{
        box-sizing:border-box;
    }

    .style-row button.active{
    background-color: grey;
    }
    
    .formula-container{
        height: 31px;
        border: 1px solid green;
    }
    .cell-container{
        height: calc(100vh - 130px);
        background-color: ghostwhite;
        overflow: auto;
        position: relative;
    }
    .sheets{
        height: 25px;
        border: 1px solid;
    }
    .row .cell,.top-row .cell{
        border: 1px solid;
        min-width: 80px;
        /* width: 80px; */
        text-align: center;
        /* height: 25px; */
        min-height: 25px;
        max-width: 80px;
        -webkit-text-stroke-width: medium;
}
    
    .row{
        display:flex;
    }
    .t1-cell{
        position: relative;
        width: 32px;
        height: 25px;
        z-index: 3;
        background-color: black;
        top: 0px;
        left: 0px;
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        background-blend-mode: multiply,multiply;
    }
    .top-row{
        display: flex;
        position: absolute;
        left: 25px;
        top: 0px;
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        z-index: 1;
    }
    .left-col .cell{
        border: 1px solid;
        width: 31px;
        height: 25px;
        /* background-color: green; */
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        text-align: center;
        -webkit-text-stroke-width: medium;
    }
    .grid{
        position: absolute;
        top:25px;
        left: 25px;
    }
    .menu{
        margin-right: 16px;
        -webkit-text-stroke-width: medium;
        margin-left: 12px;
        color: cornsilk;
    }
    .left-col{
        position: absolute;
        z-index: 1;
       
    }
    .menu-container{
        border: 2px solid black;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 29px;
        background-color: green;
        
    }
    .menu-options{
        display: none;
        width: 100px;
        justify-content: space-evenly;
        width: 282px;
        align-items: center;
        height: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .menu-option-container{
        height: 121px;
        background-color: darkgray;
    }
    .menu-options.active{
    
        height: 49px;
        display: flex;
    }
    .style-row button{
        background-color: red;
    }
    .address-input{
        width: 70px;
        margin: -4px;
        /* margin-right: 27px; */
        margin-left: 1px;
        border-color: brown;
        -webkit-text-stroke-width: medium;
        height: 27px;
    }
    .formula-input{
        margin-left: 16px;
        border-color: inherit;
        /* height: -webkit-fill-available; */
        margin-bottom: -79px;
        width: 727px;
        height: 27px;
    
    }
    #formatting-col.Home{
        width: 100%;
        height: 100%;
        top: 100%;
    }
    #formatting-col.Home .font-row{
        left: 0px;
        justify-content: space-around;
        width: 52%;
        margin-top: 12px;
        margin-left: 7px;

    }
    #formatting-col.Home .style-row{
          
        margin-left: 203px;
        margin-bottom: 12px;
        margin-top: -17px;
        height: 38px;
        width: 28px;
    
    }
    #formatting-col.Home .colors{
        margin-left: 197px;
        width: 45%;
    }
    .style-row #underline{
        font-size: 21px;
        margin-top: -45px;
        margin-left:33px;
        text-transform: uppercase;
        -webkit-text-stroke-width: thick;

    }
    .style-row #bold{
        font-size: 21px;
        margin-top: inherit;
        text-transform: uppercase;
        -webkit-text-stroke-width: thick;
    }
    .style-row #italic{
        font-size: 21px;
        margin-top: inherit;
        text-transform: uppercase;
        -webkit-text-stroke-width: thick;
        margin-left: 62px;
        margin-top: -47px;

    }
    .colors #a{
        text-transform: uppercase;
    -webkit-text-stroke-width: thick;
    font-size: 2px;
    margin-top: -11px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 22px;
    font-size: 21px;
}
    .colors #b-color{
        background: crimson;
    }
    .colors #font-color{
        background: chartreuse;
    }
    .colors #b-color,#font-color{
        margin-top: -6px;
        height: 28px;
    }
    #paint{
        text-transform: uppercase;
        -webkit-text-stroke-width: thick;
        
        
        margin-left: 257px;
        margin-bottom: -26px;
    margin-top: -12px;
        width: 22px;
        font-size: 21px;
    }
    #alli-1{
        margin-left: 359px;
        /* margin-top: 19px; */
        margin-top: -50px;
    }
    #alli-2{
        margin-left: 409px;
        margin-top: 23px;


    }
    #alli-3{
        margin-left: 458px;
        margin-bottom: -57px;
        margin-top: -101px;
    
    }
    #ar{
        font-size: 17px;
        margin-left: 375px;
        
        
        margin-bottom: -1px;
        margin-top: -15px;
    }
    #paste{
        margin-top: 79px;
        margin-left: 554px;
        margin-bottom: 2px;
        margin-top: -54px;
        margin-bottom: 28px;
    
    }
    

